<div class="row">
  
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello, <%= current_user.name %>!</h1>
    <p class="lead">Explore our review session and get started with your career now!</p>
    <p class="lead">
    <%= link_to "See reviews", reviews_path, class: "btn btn-outline-dark"%>

  </p>
  </div>
  
</div>
<h2> Your posts</h2>
<div class="row">
  <% @reviews.each do |review| %>
    <% if review.user.name == @user.name %>
      <div class="col-4">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img class="card-img-top" src="logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="color: black;">
                <%= review.program.name %>
                <h6 class="card-subtitle mb-2 text-muted">
                    Updated at
                    <%= review.updated_at %>
                </h6>
                <div class= "row justify-content-left">
                    <div class= "box">
                        <p class="card-text"><%= review.comment %></p>
                    </div>
                </div>
                </h5>
                <%= link_to "Delete",review, method: :delete, class: "text-blue" %>
            </div>
        </div>
      </div>
    <% end %> 
  <% end %>
</div>

