<%= form_with(model: review, local: true) do |form| %>

  <div class="pb-3">
    <%= form.hidden_field :user_id, value: User.where(:user_confid => current_user).first.id %>
  </div>

  <% prog_ids = Array.new %>
  <% Program.all.each do |entry| %>
    <% prog_ids.push ["#{entry.name}, #{entry.company.name}" , entry.id] %>
  <% end %>

  <div class="pb-3">
    <%= form.label :program_id, "Internship:" %>
    <%= form.select :program_id, prog_ids.sort %>
    <%= link_to "Don't see your internship?", add_program_path, class: "btn btn-outline-dark" %>
  </div>

  <div class="pb-3">
    <%= form.label :comment, "Review:" %>
    <%= form.text_area :comment, size: "70x5" %>
  </div>


  <div class="pb-3">
    <p>On a scale of 1 to 5, how would you rate the level of collaboration?</p>
    <%= form.label :collab_1, "1" %>
    <%= form.radio_button :collaboration, 1 %>
    <%= form.label :collab_2, "2" %>
    <%= form.radio_button :collaboration, 2 %>
    <%= form.label :collab_3, "3" %>
    <%= form.radio_button :collaboration, 3 %>
    <%= form.label :collab_4, "4" %>
    <%= form.radio_button :collaboration, 4 %>
    <%= form.label :collab_5, "5" %>
    <%= form.radio_button :collaboration, 5 %>
  </div>

  <div class="pb-3">
    <p>On a scale of 1 to 5, how would you rate the amount of independence necessary for the position?</p>
    <%= form.label :indep_1, "1" %>
    <%= form.radio_button :independence, 1 %>
    <%= form.label :indep_2, "2" %>
    <%= form.radio_button :independence, 2 %>
    <%= form.label :indep_3, "3" %>
    <%= form.radio_button :independence, 3 %>
    <%= form.label :indep_4, "4" %>
    <%= form.radio_button :independence, 4 %>
    <%= form.label :indep_5, "5" %>
    <%= form.radio_button :independence, 5 %>
  </div>

  <div class="pb-3">
    <p>What was the compensation for this internship?</p>
    <%= form.label :compensation, "Amount ($)" %> <!--Maybe add dropdown with currencies -->
    <%= form.number_field :compensation %>
  </div>

  <div class="pb-3">
    <p>On a scale of 1 to 5, how would you rate the leadership skills necessary for the position?</p>
    <%= form.label :lead_1, "1" %>
    <%= form.radio_button :leadership, 1 %>
    <%= form.label :lead_2, "2" %>
    <%= form.radio_button :leadership, 2 %>
    <%= form.label :lead_3, "3" %>
    <%= form.radio_button :leadership, 3 %>
    <%= form.label :lead_4, "4" %>
    <%= form.radio_button :leadership, 4 %>
    <%= form.label :lead_5, "5" %>
    <%= form.radio_button :leadership, 5 %>
  </div>

  <div class="pb-3">
    <p>On a scale of 1 to 5, how would you rate the amount of multitasking necessary for the position?</p>
    <%= form.label :multi_1, "1" %>
    <%= form.radio_button :multitasking, 1 %>
    <%= form.label :multi_2, "2" %>
    <%= form.radio_button :multitasking, 2 %>
    <%= form.label :multi_3, "3" %>
    <%= form.radio_button :multitasking, 3 %>
    <%= form.label :multi_4, "4" %>
    <%= form.radio_button :multitasking, 4 %>
    <%= form.label :multi_5, "5" %>
    <%= form.radio_button :multitasking, 5 %>
  </div>

  <p>Click on the "Choose File" button to upload a file:</p>

  

  <%= form.submit "Submit Review" %>
<% end %>
