<% store_location %>

<% if logged_in? %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hello, <%= current_user.name %>!</h1>
      <p class="lead">Explore our review session and get started with your career now!</p>
      <p class="lead">
      <%= link_to "Take new quiz", new_quiz_path, class: "btn btn-outline-dark"%>
      <% if !current_user.quiz.nil? %>
        <%= link_to "See last quiz results", results_path(quiz: current_user.quiz), class: "btn btn-outline-dark"%>
      <% end %>
    </p>
    </div>
    
  </div>
<% end %>

  <div class = "center table">
    <h1>All Program Reviews</h1>

    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Program</th>
          <th>Company</th>
          <th>Comment</th>
          <th colspan= "3"></th>
        </tr>
      </thead>


      <tbody>
          <% @reviews.each do |review| %>
              <tr>
                <% if !review.user.nil? || !review.program.nil?%>
                  <td><%= review.user.name %></td>
                  <td><%= link_to review.program.name, review.program %></td>
                  <td><%= link_to review.program.company.name, review.program.company %></td>
                  <td><%= review.comment %></td>

                  <% if review.user.user_confid == current_user && !current_user.nil? %>
                    <td><%= link_to 'Show', review %></td>  
                    <td><%= link_to 'Edit', edit_review_path(review) %></td>
                    <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% else %>
                    <td><%= link_to 'Show', review %></td>  
                  <% end %>
                  
                <% end %>
              </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%= link_to "Add Your Review", new_review_path, class: "btn btn-outline-dark" %>
    </div>

    <div class="container text-center pt-3 pb-2">
      <%= page_entries_info @reviews, entry_name: 'review' %>
    </div>

    <div class="container text-center">
      <%= link_to_prev_page @reviews, 'Previous Page' %>
      <%= link_to_next_page @reviews, 'Next Page' %>
    </div>
  </div>