<div class="text-center">

  <h1 class="mb-4 mt-2">Add Your Review</h1>

  <%= form_with url: "/add-review", method: :get, local: true do |form| %>

    <div class="pb-3">
      <%= form.label :program, "Program name:" %>
      <%= form.text_field :program %>
    </div>

    <div class="pb-3">
      <%= form.label :company, "Company name:" %>
      <%= form.text_field :company %>
    </div>

    <div class="pb-3">
      <%= form.label :comment, "Review:" %>
      <%= form.text_area :comment, size: "70x5" %>
    </div>

    <div class="pb-3">
      <%= form.label :collaboration, "How would you rate the level of collaboration?" %>
      <%= form.collection_radio_buttons :collaboration, ["1, 2, 3, 4, 5"], 1..5 %>
    </div>

    <%= form.submit "Submit Review" %>
  <% end %>
</div>