<style type="text/css">
    
    .card{
      border-radius: 25px;
      
    }


</style>

<div class= "text-center">
  <% if @review.image.attached? %>            
    <image src="<%=(url_for(@review.image))%>", style="width: auto; height: 300px">
  <% else %>
    <image src="assets/images/humans.png", style="width: auto; height: 300px">
  <% end %>
</div>

<div class="container text-center mt-4">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <p>
            
            <strong>
              <h4> Posted by </h4>
            </strong>
          <% if logged_in? %>
            <%= image_tag current_user.gravatar_url(:email => current_user.email), class: "mx-1 mt-1", style: "height: 20px; width: 20px" %>
          <% end %>  
            <%= @review.user.name %>
          </p>
        </div>
        
      </div>
      
    </div>
    
    <div class="col-sm">
      <div class="card">
          <div class="card-body">
            <p>
              <strong>
                <h4> Program </h4>
                
              </strong>
              <%= @review.program.name %>
            
            </p>
          </div>
          
      </div>
   
    </div>

    <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <p>
              <strong>
              <h4> Company </h4>
              
              </strong>
              <%= @review.program.company.name %>
            
            </p>
          </div>
        
        </div>
      
    </div>
  </div>
</div>

<div class = "text-center container mb-3 mt-3">
  <div class = "row">
        <div class= "col border border-dark">
          Collaboration
        </div>
        <div class= "col border border-dark">
          Independence
        </div>
        <div class= "col border border-dark">
          Leadership
        </div>
        <div class= "col border border-dark">
          Multitasking
        </div>
        <div class= "col border border-dark">
          Compensation
        </div>
      </div>

    <div class = "row">
        <div class= "col  border border-dark">
          <%= @review.collaboration %>
        </div>
        <div class= "col border border-dark">
          <%= @review.independence %>
        </div>
        <div class= "col border border-dark">
          <%= @review.leadership %>
        </div>
        <div class= "col border border-dark">
          <%= @review.multitasking %>
        </div>
        <div class= "col border border-dark">
          <% if !@review.compensation.nil? %>
            $<%= @review.compensation %>
          <% end %>
        </div>
      </div>
  </div>

  <p>
        <strong>
          <h3> Description </h3>
        </strong>
      
        
        <%= @review.comment %>
        <% @five %>
    </p>




<% if @review.user.user_confid == current_user && !current_user.nil? %>
  <%= link_to 'Edit', edit_review_path(@review) %> |
<% end %>
<%= link_to 'Back', reviews_path %>