<nav class="navbar mb-2">
  <style type="text/css">
    .fa-plus-square{
      color: black;
      
    }

    .fa-plus-square:hover{
      color: grey;
      text-decoration: none;
    }

    .fa-user{
      color: black;
    }

    .fa-user:hover{
      color: grey;
      text-decoration: none;
    }


  </style>
  <div class="container-fluid">
    <div class="navbar-header">
      <% if logged_in? %>
        
        <%= link_to "Home", reviews_path, class: "btn btn-outline-dark" %>
      <% else %>
        <%= link_to "Home", landing_path, class: "btn btn-outline-dark" %>
      <% end %>
      <!--currently only direct back to review page. needs a home page-->
    </div>
    <% if logged_in? %>
      <ul class="nav navbar-right ">
      
        <li><%= link_to " ", user_page_path, class: "mx-1 mt-1 fa fa-user fa-2x" %></li>
        <li><%= link_to " ", new_review_path, class: "mx-4 mt-1 fa fa-plus-square fa-2x" %></li>
        <li><%= link_to "Log out", logout_path, class: "btn btn-outline-dark", method: :delete %></li> 
      </ul>
    <% else %>
      <ul class="nav navbar-right ">
       
        <li><%= link_to " ", new_review_path, class: "mx-4 mt-1 fa fa-plus-square fa-2x" %></li>
        <li><%= link_to "Log in", login_path, class: "btn btn-outline-dark" %></li> 
        <!--<li><%= link_to "Sign up", signup_path, class: "mx-2" %></li>-->
      </ul>
    <% end %>
  </div>
</nav>